/client/GameClient/Debug
/client/GameClient/Release
/client/Library
/client/obj
/client/Root/obj
/client/Root/Library
/client/Framework/Network/Network/obj
/client/Framework/Network/Network/bin
/client/Framework/NetworkCpp/NetworkCpp/Debug
/client/Framework/NetworkCpp/NetworkCpp.sdf
/client/Framework/NetworkCpp/Debug
/client/Trunk/Cocos2D
/client/Trunk/Src/*.opensdf
/client/Trunk/Src/*.sdf
/client/Trunk/Src/*.suo
