/client/GameClient/Debug
/client/GameClient/Release
/client/Library
/client/obj
/client/Root/obj
/client/Root/Library
/client/Framework/Network/Network/obj
/client/Framework/Network/Network/bin
/client/Framework/NetworkCpp/NetworkCpp/Debug
/client/Framework/NetworkCpp/NetworkCpp.sdf
/client/Framework/NetworkCpp/Debug
/client/Trunk/Cocos2D
/client/Trunk/Src/*.opensdf
/client/Trunk/Src/*.sdf
/client/Trunk/Src/*.suo
/client/Trunk/Product/PC/Debug
/client/Trunk/cocos2d
/client/Trunk/cocosstudio
/client/Trunk/proj.android
/client/Trunk/proj.ios_mac
/client/Trunk/proj.win32
/client/Trunk/.cocos-project.json
/client/Trunk/CMakeLists.txt
/client/Trunk/config.json
/client/Trunk/Trunk.ccs
/client/Trunk/Trunk.cfg
/client/Trunk/Trunk.udf
/client/Trunk/BuildScript/proj.android/assets
/client/Trunk/BuildScript/proj.android/bin
/client/Trunk/BuildScript/proj.android/gen
/client/Trunk/BuildScript/proj.android/libs
/client/Trunk/BuildScript/proj.android/obj
/client/Trunk/BuildScript/bin
